@use '../variables/components' as *;
header {
  .container {
    width: 100%;
    // max-width: 1440px;
    height: $header-main;
    // margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 100%;
      // padding: 2rem 0px;

      img {
        max-width: 180px;
        height: 100%;
      }
    }
  }

  .menu {
    display: flex;

    .sub {
      display: none;
    }
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    height: 100%;
  }
}

.logo {
  a {
    display: block;
    cursor: pointer;
    height: 100%;
  }
}
