section:not(:first-of-type) {
  margin-block-start: 12rem;
  min-height: 6rem;
}

.section-intro,
.section-summary {
  max-width: 768px;
  margin-inline: auto;
}

section:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.02);
  padding-block: 5rem;
}
